extends _includes/default.pug

block title
  | #{home.content.seo.title}

block append head
  style
    |.absolutely-centered {
    |  position: absolute;
    |  top: 50%;
    |  left: 50%;
    |  transform: translate(-50%, -50%);
    |}

block content
  .space-y-8
    section#hero.w-full.relative(class="h-[40vh] md:h-[50vh]")
        img.h-full.w-full.object-cover(src=home.content.hero.filename)
        h1.p-4.bg-white.text-center.absolutely-centered.opacity-80.text-xl.uppercase.tracking-widest.font-semibold(
          class="font-serif rounded-lg shadow md:text-3xl"
        )
          | Bringing Aniesness To Real Estate

    section#quote.h-32.flex.flex-col.items-center.justify-center.text-center(class="md:h-64")
      h2.px-4.text-2xl.tracking-wider.font-bold(class="font-serif md:text-3xl") 
        | I help people buy, sell and rent their dream properties.
      .mt-12.text-gray-800.border-t-2(class="w-10/12")
        hr

    - 
      var components = { 
        TEXT: 'JustText', 
        HEADER_AND_TEXT: 'TextWithHeader', 
        IMAGE: 'Image' 
      }
    section#content.container.mx-auto
      .flex.flex-wrap

        each section in home.content.body
          each content in section.content
            div.prose-xl(class="md:prose-2xl md:w-1/2")
            
              case content.component
                when components.TEXT
                  p.p-4(class="mx-2 md:mx-8")= content.content
                when components.HEADER_AND_TEXT
                  div.p-4(class="mx-2 md:mx-8")
                    h3= content.heading
                    p= content.content
                when components.IMAGE
                  img.p-1.rounded(src=content.adv.image width=800 height=500)

    section#social

    section#gallery.w-full
      include ./_includes/gallery
      .spacer.mb-16(class="md:mb-0")

block alpine-data
  | window.rawData = !{JSON.stringify(home)}
