doctype html
- var ALPINE_DATA='alpine-data'
- var PREFIX = process.env.ELEVENTY_PRODUCTION ? '/anies-properties' : ''
- var ALPINE_PATH= PREFIX+`/js/alpine.js`
- var TAILWIND_PATH= PREFIX+`/styles/tailwind.css`
- var SB_BRIDGE_PATH= PREFIX+`/js/storyblok-bridge.js`

html(lang="en")
  head 
    title
      block title
        | Overridable Title
    meta(charset="UTF-8")
    meta(name="description" content="#{description}")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover")
    link(rel="stylesheet" href=TAILWIND_PATH)
    block head
    script(src="https://app.storyblok.com/f/storyblok-v2-latest.js" id="storyblokBridge")
    script(src=ALPINE_PATH defer)
    block head-scripts
  body.bg-gray-100
    include ./navbar
    block content
    include ./footer
    include ./mobilenav
    
    script(id=ALPINE_DATA content-type="application/json")
      block alpine-data
        | window.rawData = {slug:''}
      
    script.
      document.addEventListener('alpine:init', function() {
        if(window.rawData){
          var data = window.rawData

          if(data.content.component === 'page'){
            Alpine.store(data.slug, data.content);
            Alpine.store('gallery', data.content.gallery || []);
          }
        }
      });
    script(src=SB_BRIDGE_PATH)
    block body-scripts
