doctype html
- var ALPINE_DATA='alpine-data'
- var PREFIX = process.env.ELEVENTY_PRODUCTION ? '' : ''
- var ALPINE_PATH= PREFIX+`/js/alpine.js`
- var TAILWIND_PATH= PREFIX+`/styles/tailwind.css`
- var SB_BRIDGE_PATH= PREFIX+`/js/storyblok-bridge.js`

html(lang="en")
  head 
    title
      block title
        | Overridable Title
    meta(charset="UTF-8")
    meta(name="description" content="#{description}")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover")
    link(rel="stylesheet" href=TAILWIND_PATH)
    block head
    link( href="https://fonts.googleapis.com/css?family=Arvo|Lato" rel="stylesheet")
    script(src="https://app.storyblok.com/f/storyblok-v2-latest.js" id="storyblokBridge")
    script(src=ALPINE_PATH defer)
    block head-scripts
  body.bg-gray-100
    include ./navbar
    block content
    include ./footer
    include ./mobilenav
    
    script(id=ALPINE_DATA content-type="application/json")
      block alpine-data
        | window.rawData = {slug:''}
      
    script.
      document.addEventListener('alpine:init', function() {
        const IMAGE_SERVICE_HOST = 'img2.storyblok.com'

        const breakpoints = {
          null: true,
          sm: window.matchMedia('(min-width: 640px)').matches,
          md: window.matchMedia('(min-width: 768px)').matches,
          lg: window.matchMedia('(min-width: 1024px)').matches,
          xl: window.matchMedia('(min-width: 1280px)').matches,
          '2xl': window.matchMedia('(min-width: 1536px)').matches,
        }

        function setDimensions(path, width, height){
          return `/${width || 0}x${height || 0}${path}`
        }

        Alpine.directive('sb-img', (
          el, 
          { value, modifiers, expression }, 
          { Alpine, effect, cleanup, evaluate }
        ) => {
          if(breakpoints[value]){
            const [width, height] = modifiers
            let url = new URL(evaluate(expression))
            url.host = IMAGE_SERVICE_HOST
            url.pathname = setDimensions(url.pathname, width, height)
            el.src = url
            el.width = width
            el.height = height
          }
        })

      })

      document.addEventListener('alpine:init', function() {
        if(window.rawData){
          var data = window.rawData

          if(['page', 'listing'].includes(data.content.component)){
            Alpine.store('page', data.content);
            Alpine.store('gallery', data.content.gallery || []);
          }
        }
      });
    script(src=SB_BRIDGE_PATH)
    block body-scripts
