extends _includes/default.pug

block title
  | #{contact.content.seo.title}

block append head
  style
    |.absolutely-centered {
    |  position: absolute;
    |  top: 50%;
    |  left: 50%;
    |  transform: translate(-50%, -50%);
    |}

block content
  .space-y-8
    section#hero.w-full.relative(x-data class="h-[40vh] md:h-[50vh]")
        img.h-full.w-full.object-cover(:src="$store.page.hero.filename")
        .p-4.bg-white.text-center.absolutely-centered.opacity-80.rounded-lg(
          class="font-serif shadow"
        )
          h1.text-xl.uppercase.tracking-widest(
          class="md:text-3xl"
          x-text="$store.page.hero_text"
        )
          h3.text-base.uppercase.tracking-widest(
          class="md:text-xl"
          x-text="$store.page.hero_sub_text"
        )

    section#about
      .container.mx-auto
        .grid.grid-cols-4.gap-8
          #photo.col-span-1.hidden(class="sm:block")
            img(src="https://a.storyblok.com/f/117780/848x848/e57b7d3364/aniesheadshot.jpeg")
          div.mx-2(class="col-span-full sm:col-span-3")
            .flex.flex-col.space-y-12
              div
                p If you have any questions about the Klang Valley real estate market, I'd love to chat. Reach out below and I'll get back to you shortly.
              #social-contact
                .flex.space-x-10
                  - var svgClasses = `class="w-16 h-16"`
                  include _includes/social-icons.pug
              #contact.hidden
                form.space-y-4
                  .grid.gap-4.grid-cols-4
                    label.col-span-1(for="contact-name") Name
                    input#contact-name.col-span-3.text-lg.p-1(type="text")
                    
                    label.col-span-1(for="contact-phone") Telephone
                    input#contact-phone.col-span-3.text-lg.p-1(type="tel" pattern="[0-9]{3}-[0-9]{4}-[0-9]{3}" placeholder="011-1554-1111")
                
                    label.col-span-1(for="contact-email") Email
                    input#contact-email.col-span-3.text-lg.p-1(type="email")

                    .flex.flex-col.col-span-full.space-y-2
                      label(for="contact-message") How can I help you?
                      textarea(rows="6" #contact-message).text-lg.p-1

    section#social


block alpine-data
  | window.rawData = !{JSON.stringify(contact)}
