extends _includes/default.pug

block title
  | #{home.content.seo.title}

block append head
  style
    |.absolutely-centered {
    |  position: absolute;
    |  top: 50%;
    |  left: 50%;
    |  transform: translate(-50%, -50%);
    |}

block content
  .space-y-8
    section#hero.w-full.relative(x-data class="h-[40vh] md:h-[50vh]")
        img.h-full.w-full.object-cover(:src="$store.page.hero.filename")
        .p-4.bg-white.text-center.absolutely-centered.opacity-80.rounded-lg(
          class="font-serif shadow"
        )
          h1.font-semibold.text-xl.uppercase.tracking-widest.font-semibold(
          class="font-serif rounded-lg shadow md:text-3xl"
          x-text="$store.page.hero_text"
        )
          h3.font-semibold.text-base.uppercase.tracking-widest.font-semibold(
          class="font-serif rounded-lg shadow md:text-xl"
          x-text="$store.page.hero_sub_text"
        )

    section#quote.h-24.flex.flex-col.items-center.justify-center.text-center(x-data class="md:h-36")
      h2.px-4.text-2xl.tracking-wider.font-bold(class="font-serif md:text-3xl" x-text="$store.page.quote_section") 

    section#content.container.mx-auto(x-data)
      .mt-12.text-gray-800.border-t-2
        hr
      include _includes/content-section

    section#social

    section#gallery.w-full
      include _includes/gallery
      .spacer.mb-16(class="md:mb-0")

block alpine-data
  | window.rawData = !{JSON.stringify(home)}
